# Linux executable files
main
project1
project2
project3
project4

# Windows executable files
*.exe

# VScode settings
.vscode

# others
pj3.cpp
Chen.cpp
self_tests/**
!self_tests/
!self_tests/**/
!self_tests/**/*.in
!self_tests/**/*.out